nav li {
    

  display: inline;
  list-style: none;
  
}
/* 1st frame */
nav a:link,
nav a:visited {
  background:#FFA185 ;
  color: white;
  text-decoration: none;
  padding: 2em;
padding-top: .5em;
  
  transition: 
    background .5s,
    padding .25s ease-in;
    
}
/* last frame */
nav a:hover {
  background: #707070;
  padding-top: .5em;
}


body{
  background: #FFA185;
padding: 10px;
    

}

img{ 

    margin: 40px;
    width: 50%;
      
}

body h1{ 
    margin:  40px;
    padding: 40px;
    background-color: #570030;
    
/*   background: #B8FFC7;
}

.color-2 {
    background: #FFA185;}

.color-3 {
    background: #570030;}

.color-4 {
    background: #100038;}

.color-5 {
    background: #707070;}*/
}
h1{
  color: white;
}
header{
    
}

form{
 background:grey;
  padding: 10px;
  margin: 40px;
}

label,
input,
textarea {
  display: block;
  margin: 10px;
}
/*score 0,0,1,1*/
input[type=submit] {
  background: teal;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

input:focus,
textarea:focus {
  background: orange;
  padding: 20px;
  transition: background .25s;
  outline: none;
}



