/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: #B8FFC7;
}

.color-2 {
    background: #FFA185;}

.color-3 {
    background: #570030;}

.color-4 {
    background: #100038;}

.color-5 {
    background: #707070;}

/* Textures or Patterns*/
.pattern-1 {
background: url("../img/pattern1.jpg");
    }
.pattern-2 {
    background: url("../img/patter2.png"); 
  }
.pattern-3 {
    background: url("../img/pattern3.jpg"); 
  }
.pattern-4 {
    background: url("../img/pattern4.jpg"); 
  }
.pattern-5 {
    background: url("../img/pattern5.jpg"); 
  }
/* Imagery */




/* Icons */


/* Navigation */
a:link,
a:visited {
    color: blue;
    text-transform: uppercase;
    
}

a:hover {
  background: red;
  margin-left: 2px;

}

a:active {
    color: white;
    
}
/* Typography */
h1,h3{
    font-family: 'Raleway', sans-serif;
    color: purple;
}
h2 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
    color: teal;
}

p {
    font-family: 'Orbitron', sans-serif;
    color: salmon;
}




